* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: rgb(36,99,108);
    background: linear-gradient(0deg, rgba(36,99,108,1) 0%, rgba(2,4,17,1) 100%);

}

.header_class {
    display: flex;
    border: 1px solid white;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-around;

}

.header_class h1 {
    color: white;
}

.city_name {
    color: white;
}

.temperature {
    color: white;
}

.humidity_wind p{
    color: white;
}

.icon_weather {
    height: 150px;
    width: 150px;
}

.humidity_wind img{
    height: 50px;
    width: 50px;
}

.showroom_app {
    display: flex;
    border: 1px solid white;
    height: 80vh;
    width: 100%;
    align-items: center;
    justify-content: space-around;

}

.container_app {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    height: 80%;
    width: 40%;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;

}


.container_app .humidity_wind {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.container_chart {
    display: flex;
    border: 1px solid white;
    height: 50%;
    width: 40%;


}

.footer_class {
    display: flex;
    border: 1px solid white;
    height: 80px;
    width: 100%;

}